axu4j-tag/src/main/resources/META-INF/axu4j-0.4.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://axisj.com/axu4j" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="axu4j" type="axu4:axu4jType" xmlns:axu4="http://axisj.com/axu4j">
    <xs:annotation>
      <xs:documentation><![CDATA[[AXU4J](https://github.com/axisj-com/axu4j)

AXU(https://github.com/axisj-com/axu) for java

악수(AXU)는 액시스제이에서 제공하는 '반응형 웹 애플리케이션 템플릿 패키지' 입니다.
AXU4J는 악수를 좀 더 쉽게 사용할 수 있게 해주는 layout/tag engine 입니다.
layout 엔진은 반복되는 레이아웃을 간단하게 정리하고 적용 가능하게 해줍니다.
또한 악수의 그리드시스템과 폼을 tag로 만들어 사용함으로서 좀 더 적고 간결한 소스 작성이 가능하며
기존 순수 HTML 작성보다 재사용과 유지보수에 편리합니다.

xml 컨텐츠 내에서 사용하는 문법은 mustache 문법을 적용(http://mustache.github.io/)하였습니다.

AXU4J를 사용하기 위해서는 JSP 상단에 아래 선언을 추가해야 합니다.
<%@ taglib prefix="ax" uri="http://axisj.com/axu4j" %>

[※ dynamic attributes 사용가능] 표시가 있는 태그는 아래와 같이 사용할 수 있습니다.
axu4j.xml 설정
```xml
<row>
    <wrap>
<![CDATA[
<div id="{{id}}" class="ax-layer {{css}}" style="{{style}}" data-dynaattr="{{dynaattr}}">
	{{{doBody}}}
</div>
]]]]>><![CDATA[
    </wrap>
</row>
```

JSP 사용법
```jsp
<ax:row dynaattr="foo">
    row tag contents
</ax:row>
```

output HTML
```html
<div id="row-1" class="ax-layer " style="" data-dynaattr="foo">
	row tag contents
</div>
``]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="layoutType">
    <xs:sequence>
      <xs:element type="xs:string" name="prefix">
        <xs:annotation>
          <xs:documentation>prefix: layout 파일의 경로를 지정합니다. 현재 JSP, HTML 두 가지 모두 지원하고 있으나 JSP 사용을 권장합니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="encoding">
        <xs:annotation>
          <xs:documentation>encoding: layout 파일의 인코딩을 지정합니다. 이 설정은 layout 파일이 HTML인 경우만 적용됩니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="wrap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fieldType">
    <xs:sequence>
      <xs:element type="xs:string" name="wrap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="xs:string" name="mode">
        <xs:annotation>
          <xs:documentation>개발모드: DEV(AXU4J를 사용할 때 마다 설정파일을 다시 로드합니다.), 운영모드: RUN(설정파일을 최초 한 번만 로드합니다.)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="axu4jType">
    <xs:sequence>
      <xs:element type="axu4:configType" name="config" xmlns:axu4="http://axisj.com/axu4j"/>
      <xs:element type="axu4:layoutType" name="layout" xmlns:axu4="http://axisj.com/axu4j"/>
      <xs:element type="axu4:rowType" name="row" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>row: 악수 그리드 시스템(https://www.axisj.com/ko/axu/docs#axu-3)을 사용하기 위한 row tag입니다.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="axu4:colType" name="col" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>col: 악수 그리드 시스템(https://www.axisj.com/ko/axu/docs#axu-3)을 사용하기 위한 col tag입니다.
    하나의 row tag 안에 col tag size의 합은 12가 되어야 합니다.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="axu4:formType" name="form" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>form: HTML form과 동일하며 form외에 레이아웃과 스타일적 요소를 추가적으로 가지고 있습니다.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="axu4:fieldsType" name="fields" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>fields: form tag 내부에서 row의 역할을 하는 tag 입니다.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="axu4:fieldType" name="field" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>field: fields tag 내부에서 컬럼처럼 사용되는 tag입니다.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="axu4:customsType" name="customs" xmlns:axu4="http://axisj.com/axu4j">
        <xs:annotation>
          <xs:documentation>custom: 사용자 정의 Tag 사용자 정의 태그를 정의하고 JSP에서 이를 쉽게 사용할 수 있습니다.
    자세한 사용법은 https://github.com/axisj-com/axu4j/wiki/Manual(ver-0.4.0)#custom 여기를 참고하세요.
    ※ dynamic attributes 사용가능</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formType">
    <xs:sequence>
      <xs:element type="xs:string" name="wrap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element type="xs:string" name="wrap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colType">
    <xs:sequence>
      <xs:element type="xs:string" name="wrap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customsType">
    <xs:sequence>
      <xs:element type="axu4:customType" name="custom" maxOccurs="unbounded" minOccurs="0" xmlns:axu4="http://axisj.com/axu4j"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>